# .NET
bin/
obj/
*.user
*.suo
*.cache
appsettings.Development.json

# Angular
dist/
node_modules/
.cache/
.angular/

# VS Code
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json

# OS files
.DS_Store
Thumbs.db

# Misc
*.log
*.tmp
.env